*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
   background-color: grey;
   
   
}
button{
    background-color: greenyellow;
    color: chocolate;
    font-size: 20px;
    font-family: monospace;
    font-weight: 900;
    max-width: 25%;
    border: none;
    border-radius: 5px;
    padding: 3px;
    margin-top: 1px;
    margin-bottom: 1px;
}
.container1{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 10px;
    
}

.main{
    margin-left: 42%;
   

}
table{
    border-collapse: separate;
    border-spacing: 0;
    width: 250px;
    height: 250px;
}
td{
  
    border: solid 3px black;
    text-align: center;
    width: 50px;
    height: 50px;
} 
.x{  
    font-family: "fogaza",cursive;
    color:greenyellow;
    font-size: 30px;
  }
  
.o{
    font-family: "fogaza",cursive;
    color: chocolate;
    font-size: 30px;
    text-shadow: 2px,goldenrod;
  }
.jj{
    margin-left: 48%;
    font-family: "fogaza",cursive;
    font-weight: 100px;
    width: 100px;
    font-size: 60px;
    color:yellowgreen;
}
.kl{
    margin-left: 47%;

    width: 120px;
    height: 10px;
}
#final{
    font-size: 25px;
    font-weight: 800;
    margin-top: 30px;
    margin-left:48%;

    font-family: "fogaza",cursive;
    color: rgb(57, 24, 24);
    background-color: rgb(171, 211, 37);
    text-align: center;
    width: 100px;
    height: 50px;
}
.win {
    background-image: radial-gradient(chocolate,rgb(48, 21, 30));
    color: darkolivegreen;
    visibility: hidden;
    animation: popUp 10s forwards;
}

@keyframes popUp {
    0% {
        transform: scale(0);
        visibility: hidden;
    }
    50% {
        transform: scale(1.2);
        visibility: visible;
    }
    100% {
        transform: scale(1);
        visibility: visible;
    }
}

.win.show {
    animation: none;
    visibility: visible;
}
.fred {
    background-image: radial-gradient(rgb(216, 205, 205),rgb(12, 12, 12));
    transform: scale(1);
   
    animation: popOut 10s forwards;
}

@keyframes popOut {
    0% { transform: scale(0); }
    5% { transform: scale(1.8); }
    95% { transform: scale(1.2); }
}
.draw {
    background-image: radial-gradient(rgb(216, 205, 205),rgb(12, 12, 12));
   
    animation: popOut 10s forwards;
}

@keyframes popOut {
    0% { transform: scale(0); }
    5% { transform: scale(1.8); }
    95% { transform: scale(1.2); } 
}


}@media(min-width:320px){
    .main{
        width: 200px;
        height: 200px;
        margin-right:20px
   padding:auto;}
}
@media(min-width:480px){
    .main{
        width: 400px;
        height: 400px;
         margin-right:20px
   padding:auto;}
}
@media (min-width:768px) {
    .main{
        width: 500px;
        height: 500px;
    padding: auto;}
    
    }
@media(min-width:992px){
    .main{
        width: 600px;
        height: 600px;
     padding: auto;}
}
@media(min-width:1200px){
    .main{
        width:700px;
    height:700px;
    padding: auto;}
